/* Template */
#wb-bnr {
	background: #164863;
}



#wb-sm {
	background: #427D9D;
}

#wb-bar {
	background: #000000;
}

#wb-info, #wb-info a {
	background-color: #33465C;
	color: #ffffff;
	text-decoration: none;
}

.no-padding-left {
 padding-left:0px;
}

#gc-info {
	background-color: #000;
	margin-top: 10px;
}


#gc-info li {
	line-height: normal;
	margin: 22px 0 21px 40px;
	margin-left: 40px;
}


	#wb-info a:link, #wb-info a:visited {
		text-decoration: none;
	}
#wb-info a:hover {
	text-decoration: underline;
}

#gc-info a {
	background-color: #000000;
	color: #ffffff;
	text-decoration: none;
}

	#gc-info a {
		color: #fff;
	}

#canada-ca a {
	border-left: 1px solid #666;
	display: inline-block;
	font-size: 160%;
	padding-left: 44px;
	vertical-align: middle;
}
#canada-ca, [dir="rtl"] #wb-sttl {
	float: right;
}

#gc-info .list-inline {
  margin-left: -45px;
}

#wb-sm .menu {
	margin-bottom: 0;
	text-shadow: none;
}

	#wb-sm .menu > li > a {
		border-left: 1px solid #ffffff;
		color: #fff;
		font-weight: 600;
	}

	#wb-sm .menu > li:last-child > a {
		border-right: 1px solid #ffffff;
	}

	#wb-sm .menu > li.active > a, #wb-sm .menu > li > a:hover {
		background: #176B87;
		border-left: 1px solid #ffffff;
		color: #ffffff;
	}

	.border-right {
		border-right: 1px solid #ffffff;
	}

#wb-sttl {
 font-weight:600;
}


table .badge {
	max-width: 150px;
	white-space: pre-line;
}
	.badge:hover {
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;
}

.table a:visited {
	color: #295376;
}

.badge-error {
	background-color: #bc3331;
}

	.badge-error:hover {
		background-color: #953b39;
	}

.badge-warning {
	background-color: #f89406;
}

	.badge-warning:hover {
		background-color: #c67605;
	}

.badge-success {
	background-color: #5cc45e;
}

	.badge-success:hover {
		background-color: #356635;
	}

.badge-info {
	background-color: #3a87ad;
}

	.badge-info:hover {
		background-color: #2d6987;
	}

.badge-inverse {
	background-color: #333333;
}

	.badge-inverse:hover {
		background-color: #1a1a1a;
	}

.flot-graph {
	height: 270px;
	width: 95%;
	padding: 0px;
}


.modal-body, .modal-footer, #notification-panel {
	background: #EEEEEE;
}

	#notification-panel ul > li {
		border-bottom: 1px dashed #176B87;
		margin-bottom: 10px;
	}


.text-white {
 color: #ffffff;
}

.btn-primary {
	color: #fff;
	background-color: #002d42;
	border-color: #002d42;
	box-shadow: none;
}

.btn-secondary {
	color: #002d42;
	background-color: transparent;
	background-image: none;
	border-color: #002d42;
}

.status-bg-primary {
	color: #ffffff;
	background-color: #137991 !important;
}

.status-bg-secondary {
	color: #ffffff;
	background-color: #4d5d6c !important;
}
.status-bg-success {
	color: #ffffff;
	background-color: #198754 !important;
}
.status-bg-danger {
	color: #ffffff;
	background-color: #d3080c !important;
}
.status-bg-warning {
	color: #212529;
	background-color: #f90 !important;
}

.status-bg-info {
	color: #000000;
	background-color: #6DD2DA !important;
	border-color: #6DD2DA;
	box-shadow: none;
}
.status-bg-light {
	color: #212529;
	background-color: #fff !important;
}

.status-bg-light:hover {
	color: #176B87;
}

.status-bg-dark {
	color: #ffffff;
	background-color: #212529 !important;
}

.status-bg-brown {
	color: #ffffff;
	background-color: #815B5B !important;
}

.status-bg-pink {
	color: #000000;
	background-color: #F1B4BB !important;
}

.status-bg-purple {
	color: #ffffff;
	background-color: #77037B !important;
}


.tracing-bg {
	color: #fff;
	background-color: #A72461 !important;
}

.garnish-bg {
	color: #000000;
	background-color: #83A2FF !important;
}

.license-bg {
	color: #000000;
	background-color: #F9E090 !important;
}

.border-left-wb-steps {
	border-left: 2px groove #176B87;
}


/*Step Start*/
.step {
	text-align: center;
}

.bs-stepper-circle {
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-line-pack: center;
	align-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 4em;
	height: 4em;
	padding: .5em 0;
	margin: .25rem;
	line-height: 1em;
	color: #0061A8;
	background-color: #DDF2FD;
	border-radius: 2em;
}

	.bs-stepper-circle:hover {
		background-color: #1CC5DC;
		color: #ffffff;
	}

.step-active {
	color: #fff;
	background-color: #0061A8;
}

.bs-stepper-label {
	color: #1c578a;
	font-size: 1.5em;
}

.step > a {
text-decoration:none;
}

.bs-stepper-circle-icon {
	font-size: 35px;
}
.bs-stepper .line, .bs-stepper-line {
	background-color: rgba(0,0,0,.12);
	display: inline-block;
	margin-left: 50%;
	margin-top: 3px;
	margin-bottom: 3px;
	width: 2px;
	height: 50px;
}
/*Step end*/

.label {
	font-size: 100%;
}


#adv-filter > details summary:focus, #adv-filter > details summary:hover {
	background-color: #0061A8;
	color: #ffffff;
}

#adv-filter > summary:focus, #adv-filter > summary:hover {
	background-color: #0061A8;
	color: #ffffff;
}


#adv-filter > details[open] > summary, #adv-filter >  details > summary {
	background-color: #0061A8;
	color: #ffffff;
}

#adv-filter >  details {
	margin-bottom: 3em;
}

#adv-filter > details[open]
{
		min-height : 250px;
}

.form-control-plaintext {
	display: block;
	width: 100%;
	padding-top: .375rem;
	padding-bottom: .375rem;
	margin-bottom: 0;
	line-height: 1.5;
	background-color: transparent;
	border: solid transparent;
	border-top-width: medium;
	border-right-width: medium;
	border-bottom-width: medium;
	border-left-width: medium;
	border-width: 1px 0;
	display: inline-block;
}


.grid-section summary:focus, .grid-section summary:hover {
	background-color: #245269;
	color: #ffffff;
}

.grid-section summary:focus, .grid-section summary:hover {
	background-color: #245269;
	color: #ffffff;
}


.grid-section [open] > summary, .grid-section > summary {
	background-color: #245269;
	color: #ffffff;
	font-size: 1.3em;
}

.grid-section[open] {
	border-color: #245269;
	padding-bottom: 0px;
	border-width: 3px;
	border-radius: 5px;
}

.grid-section {
	margin-top: 2em;
	
}

.grid-section-red summary:focus, .grid-section-red summary:hover {
	background-color: firebrick;
	color: #ffffff;
}

		.grid-section-red summary:focus .red, .grid-section-red summary:hover  {
			background-color: firebrick;
			color: #ffffff;
		}


.grid-section-red [open] > summary, .grid-section-red > summary {
	background-color: firebrick;
	color: #ffffff;
	font-size: 1.3em;
}

.grid-section-red[open] {
	border-color: firebrick;
	padding-bottom: 0px;
	border-width: 3px;
	border-radius: 5px;
}
.grid-section-red {
	margin-top: 2em;
}


.grid-section-yellow summary:focus, .grid-section-yellow summary:hover {
	background-color: #FFC436;
	color: #000000;
}

.grid-section-yellow summary:focus, .grid-section-yellow summary:hover {
	background-color: #FFC436;
	color: #000000;
}


.grid-section-yellow [open] > summary, .grid-section-yellow > summary {
	background-color: #FFC436;
	color: #000000;
	font-size: 1.3em;
}

.grid-section-yellow[open] {
	border-color: #FFC436;
	padding-bottom: 0px;
	border-width: 3px;
	border-radius: 5px;
}

.grid-section-yellow {
	margin-top: 2em;
}



.grid-section-green summary:focus, .grid-section-green summary:hover {
	background-color: #278400;
	color: #ffffff;
}

.grid-section-green summary:focus, .grid-section-greensummary:hover {
	background-color: #278400;
	color: #ffffff;
}


.grid-section-green[open] > summary, .grid-section-green > summary {
	background-color: #278400;
	color: #ffffff;
	font-size: 1.3em;
}

.grid-section-green[open] {
	border-color: #278400;
	padding-bottom: 0px;
	border-width: 3px;
	border-radius: 5px;
}

.grid-section-green {
	margin-top: 2em;
}

	.grid-section-black summary:focus, .grid-section-black summary:hover {
		background-color: #000000;
		color: #ffffff;
	}

.grid-section-black summary:focus, .grid-section-blacksummary:hover {
	background-color: #000000;
	color: #ffffff;
}


.grid-section-black[open] > summary, .grid-section-black > summary {
	background-color: #000000;
	color: #ffffff;
	font-size: 1.3em;
}

.grid-section-black[open] {
	border-color: #000000;
	padding-bottom: 0px;
	border-width: 3px;
	border-radius: 5px;
}

.grid-section-black {
	margin-top: 2em;
}



.grid-section-padding-bottom-5[open] {
	padding-bottom: 20px;
}

.grid-section-red > summary, .grid-section > summary, .grid-section-yellow > summary, .grid-section-green > summary, .grid-section-black > summary {
	margin-top: -1.1em;
}

.label-value {
	padding-left: 10px;
}


#menu-bar > button {
	margin-right: .5em;
}

.margin-top-2 {
	margin-top: 2em;
}

.sticky-top {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index:100;
}

.bi-flag-fill {
	color: #D3080C;
}

.status-bar {
	display: flow-root;
}
.status-font-size {
	font-size:16px;
}

.margin-botton-5 {
	margin-bottom: 5px;
}
.margin-top-5 {
	margin-top: 5px;
}

.text-red {
	color: firebrick;
}

.form-control-inline {
	min-width: 0;
	width: auto;
	display: inline;
}

.form-control-8-size {
	width: 8em;
}
