:root {
	--navbar-font-color: #000000;
	--navbar-active-bg-color: #afd2f0;
	--navbar-active-color: #002d42;
	--footer-content-info-bg-color: #0c1d30;
	--footer-content-info-color: #002d42;
	--white: #ffffff;
	--divider-color: #666666;
	--text-pale: #595050;
	--body-bg-gray: #f9f9f9;
	--black: #000000;
}


/* Template */
#wb-bnr {
	background: var(--white);
}

.navbar-brand {
	display: flex;
	align-items: center;
	font-weight: 600;
	font-size: 2em;
	height: initial !important;
	text-decoration:none;
}



.navbar-default .navbar-brand {
	color: var(--navbar-font-color);
}

	.navbar-brand img {
		height: 1.5em;
	}

.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: unset;
	padding: 10px 0px 10px 0px;
	border: none;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	color: var(--navbar-font-color);
	background-color: unset;
}

.navbar-default .navbar-nav > li > a:visited {
	color: var(--navbar-font-color);
}

.navbar-default {
	background-color: var(--white);
}


.navbar-dropdown-list-divider {
	display: inline-block;
	position: relative;
}

.navbar-dropdown-list-divider:after {
		position: absolute;
		content: '';
		border-bottom: 3px solid var(--divider-color);
		width: 90%;
		transform: translateX(-50%);
		bottom: -0px;
		left: 50%;
	}

.dropdown-menu > li > a {
	padding: 10px;
	font-size: 1.10em;
	font-weight: 400;
}

.dropdown-menu {
	border-radius:6px !important;
}

.wb-menu .menu > li a {
	display: block;
	padding: inherit;
	padding: 10px;
	font-size: 1.10em;
}

.container-main-padding {
	padding:1em;
}

.container-main-padding-top {
	margin-top: 2em;
}

.container-round {
	border-radius: 10px;
}

.wb-menu .menu > li > a, .navbar-right > li > a
{
	font-size: 1.125em;
	font-weight: 600;
	padding: 1em;
	color: var(--navbar-font-color);
}

.wb-menu .menu > li.active {
	background: var(--navbar-active-bg-color);
	border: 2px solid var(--navbar-active-bg-color);
	border-radius: 10px;
	color: var(--navbar-active-color);
}

.navbar-default .navbar-nav > li > a {
	color: var(--navbar-font-color);
}

.widget-container {
	padding:unset !important;
}

.widget {
	padding: 1em;
}

.widget .well
{
	border-radius: 10px;
	background-color: var(--white);
}

.widget-value {
	font-size: 1.5em;
	font-weight: 400;
}

.widget-caption {
   color: var(--text-pale);
}

.float-right {
	float:right;
}

.padding-right-15 {
	padding-right:15px;
	padding-bottom:5px;
}



#wb-dtmd {
	margin: unset;
	margin-bottom: 2em;
}

#wb-info, #wb-info a {
	background-color: var(--footer-content-info-bg-color);
	color: var(--white);
	text-decoration: none;
}

#wb-sm {
	background: #427D9D;
}

#wb-bar {
	background: #000000;
}



.no-padding-left {
 padding-left:0px;
}

#gc-info {
	background-color: #000;
	margin-top: 10px;
}


#gc-info li {
	line-height: normal;
	margin: 22px 0 21px 40px;
	margin-left: 40px;
}


	#wb-info a:link, #wb-info a:visited {
		text-decoration: none;
	}
#wb-info a:hover {
	text-decoration: underline;
}

#gc-info a {
	background-color: #000000;
	color: var(--white);
	text-decoration: none;
}

#gc-info a {
	color: var(--white);
}

#canada-ca a {
	border-left: 1px solid var(--divider-color);
	display: inline-block;
	font-size: 160%;
	padding-left: 44px;
	vertical-align: middle;
}
#canada-ca, [dir="rtl"] #wb-sttl {
	float: right;
}

#gc-info .list-inline {
  margin-left: -45px;
}

#wb-sm .menu {
	margin-bottom: 0;
	text-shadow: none;
}

	#wb-sm .menu > li > a {
		border-left: 1px solid var(--white);
		color: var(--white);
		font-weight: 600;
	}

	#wb-sm .menu > li:last-child > a {
		border-right: 1px solid var(--white);
	}

	#wb-sm .menu > li.active > a, #wb-sm .menu > li > a:hover {
		background: #176B87;
		border-left: 1px solid var(--white);
		color: var(--white);
	}

table {
	border-collapse: separate;
	border-spacing: 0 10px;
	margin-top: -10px; /* correct offset on first border spacing if desired */
}


.overlay-def header {
	background-color: var(--footer-content-info-bg-color);
}
	table .badge {
	max-width: 150px;
	white-space: pre-line;
}
	.badge:hover {
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;
}

.table a:visited {
	color: #295376;
}

.badge-error {
	background-color: #bc3331;
}

	.badge-error:hover {
		background-color: #953b39;
	}

.badge-warning {
	background-color: #f89406;
}

	.badge-warning:hover {
		background-color: #c67605;
	}

.badge-success {
	background-color: #5cc45e;
}

	.badge-success:hover {
		background-color: #356635;
	}

.badge-info {
	background-color: #3a87ad;
}

	.badge-info:hover {
		background-color: #2d6987;
	}

.badge-inverse {
	background-color: #333333;
}

	.badge-inverse:hover {
		background-color: #1a1a1a;
	}

.flot-graph {
	height: 270px;
	width: 95%;
	padding: 0px;
}


.modal-body, .modal-footer, #notification-panel {
	background: #EEEEEE;
}

	#notification-panel ul > li {
		border-bottom: 1px dashed #176B87;
		margin-bottom: 10px;
	}


/*Collapsible*/
#mb-pnl .modal-header {
	background: var(--footer-content-info-bg-color);
}

.text-white {
 color: #ffffff;
}

.btn-primary {
	color: #fff;
	background-color: #002d42;
	border-color: #002d42;
	box-shadow: none;
}

.btn-secondary {
	color: #002d42;
	background-color: transparent;
	background-image: none;
	border-color: #002d42;
}

.status-badge {
	display: inline-block;
	min-width: 10px;
	border-style: solid;
	border-radius: 10px;
	padding: 3px 7px;
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
	text-align: center;
}

.status-badge-primary {
	color: #137991;
	border-color: #137991;
}

.status-badge-secondary {
	color: #4d5d6c;
	border-color: #4d5d6c !important;
}
.status-badge-success {
	color: #4F7942;
	border-color: #4F7942 !important;
}
.status-badge-danger {
	color: #d3080c;
	border-color: #d3080c !important;
}
.status-badge-warning {
	color: #7a733d;
	border-color: #f90 !important;
}

.status-badge-info {
	color: #0061A8;
	border-color: #0061A8 !important;
}
.status-badge-light {
	color: #fff;
	border-color: #fff !important;
}

.status-badge-light:hover {
		color: #176B87;
	}

.status-badge-dark {
	color: #212529;
	border-color: #212529 !important;
}

.status-bg-brown {
	color: #815B5B;
	border-color: #815B5B !important;
}

.status-bg-pink {
	color: #F1B4BB;
	border-color: #F1B4BB !important;
}

.status-bg-purple {
	color: #ffffff;
	background-color: #77037B !important;
}


.tracing-bg {
	color: #fff;
	background-color: #A72461 !important;
}

.garnish-bg {
	color: #000000;
	background-color: #83A2FF !important;
}

.license-bg {
	color: #000000;
	background-color: #F9E090 !important;
}

.border-left-wb-steps {
	border-left: 2px groove #176B87;
}

.tableHeader {
	background: #ffffff !important;
	font-size: .95em !important;
	color: #000000;
}

.nowrap {
	white-space: nowrap !important;
}


.table-bordered-custom > tbody > tr > td {
	border-left: 1px solid #d5d1d1 !important;
}

	.table-bordered-custom > tbody > tr > td:first-child {
		border-left: none !important;
	}

/*Descending*/
table.dataTable thead .sorting-icons::after {
	content: none;
	padding: 0 .04em 0 .06em;
}

/*Ascending*/
table.dataTable thead .sorting-icons::before {
	content: none;
	padding: 0 .1em 0 0;
}

table.dataTable thead .sorting_asc .sorting-icons::before, table.dataTable thead .sorting_desc .sorting-icons::after {
	background: unset !important;
	border: none !important;
	color: #000;
}

table.dataTable thead .sorting .sorting-icons::after, table.dataTable thead .sorting .sorting-icons::before, table.dataTable thead .sorting_asc .sorting-icons::after, table.dataTable thead .sorting_desc .sorting-icons::before {
	background: unset !important;
	border: none !important;
	color: #000;
}

/*Show Icon on Desc*/
table.dataTable thead .sorting_desc .sorting-icons::after {
	/*Chevron Down*/
	content: "\e114";
}

/*Show Icon on Asc*/
table.dataTable thead .sorting_asc .sorting-icons::after {
	/*Chevron Up*/
	content: "\e113";
}

.table-text-center-state td:nth-child(7), .table-text-center-state td:nth-child(8), .table-text-center-state td:last-child {
	text-align: center;
}

/*Add margin to the table filter and table*/
.table-responsive > div > div {
	margin-bottom: 20px;
}

.no-background-color {
	background: none;
}

@media (min-width: 1800px) {
	.container {
		width: 1670px;
	}
}

#filter-caption {
	font-style:italic;
	padding-left:15px;
}

.sticky-top {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 100;
}

.widget-frequency {
	float:right;

}


table .fa-solid.fa-flag {
	color: #D3080C;
}

table .fa-pen-to-square {
	margin-right: 5px;
}


/*Step Start*/
.step {
	text-align: center;
}

.bs-stepper-circle {
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-line-pack: center;
	align-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 4em;
	height: 4em;
	padding: .5em 0;
	margin: .25rem;
	line-height: 1em;
	color: #0061A8;
	background-color: #DDF2FD;
	border-radius: 2em;
}

	.bs-stepper-circle:hover {
		background-color: #1CC5DC;
		color: #ffffff;
	}

.step-active {
	color: #fff;
	background-color: #0061A8;
}

.bs-stepper-label {
	color: #1c578a;
	font-size: 1.5em;
}

.step > a {
text-decoration:none;
}

.bs-stepper-circle-icon {
	font-size: 38px;
	padding: 3px;
}
.bs-stepper .line, .bs-stepper-line {
	background-color: rgba(0,0,0,.12);
	display: inline-block;
	margin-left: 50%;
	margin-top: 3px;
	margin-bottom: 3px;
	width: 2px;
	height: 50px;
}
/*Step end*/

.label {
	font-size: 100%;
}


#adv-filter > details summary:focus, #adv-filter > details summary:hover {
	background-color: var(--footer-content-info-bg-color);
	color: #ffffff;
}

#adv-filter > summary:focus, #adv-filter > summary:hover {
	background-color: var(--footer-content-info-bg-color);
	color: #ffffff;
}


#adv-filter > details[open] > summary, #adv-filter >  details > summary {
	background-color: var(--footer-content-info-bg-color);
	color: #ffffff;
}

#adv-filter >  details {
	margin-bottom: 3em;
}

#adv-filter > details[open]
{
		min-height : 375px;
}

.form-control-plaintext {
	display: block;
	width: 100%;
	padding-top: .375rem;
	padding-bottom: .375rem;
	margin-bottom: 0;
	line-height: 1.5;
	background-color: transparent;
	border: solid transparent;
	border-top-width: medium;
	border-right-width: medium;
	border-bottom-width: medium;
	border-left-width: medium;
	border-width: 1px 0;
	display: inline-block;
}


.grid-section summary:focus, .grid-section summary:hover {
	background-color: #245269;
	color: #ffffff;
}

.grid-section [open] > summary, .grid-section > summary {
	background-color: #245269;
	color: #ffffff;
	font-size: 1.3em;
}

.grid-section[open] {
	border-color:#245269;
	padding-bottom: 0px;
	border-width: 3px;
	border-radius: 5px;
}

.grid-section {
	margin-top: 2em;
	
}

.grid-section-red summary:focus, .grid-section-red summary:hover {
	background-color: firebrick;
	color: #ffffff;
}

		

.grid-section-red [open] > summary, .grid-section-red > summary {
	background-color: firebrick;
	color: #ffffff;
	font-size: 1.3em;
}

.grid-section-red[open] {
	border-color: firebrick;
	padding-bottom: 0px;
	border-width: 3px;
	border-radius: 5px;
}
.grid-section-red {
	margin-top: 2em;
}


.grid-section-yellow summary:focus, .grid-section-yellow summary:hover {
	background-color: #FFC436;
	color: #000000;
}

.grid-section-yellow [open] > summary, .grid-section-yellow > summary {
	background-color: #FFC436;
	color: #000000;
	font-size: 1.3em;
}

.grid-section-yellow[open] {
	border-color: #FFC436;
	padding-bottom: 0px;
	border-width: 3px;
	border-radius: 5px;
}

.grid-section-yellow {
	margin-top: 2em;
}



.grid-section-green summary:focus, .grid-section-green summary:hover {
	background-color: #278400;
	color: #ffffff;
}

.grid-section-green[open] > summary, .grid-section-green > summary {
	background-color: #278400;
	color: #ffffff;
	font-size: 1.3em;
}

.grid-section-green[open] {
	border-color: #278400;
	padding-bottom: 0px;
	border-width: 3px;
	border-radius: 5px;
}

.grid-section-green {
	margin-top: 2em;
}

.grid-section-black summary:focus, .grid-section-black summary:hover {
		background-color: #000000;
		color: #ffffff;
	}


.grid-section-black[open] > summary, .grid-section-black > summary {
	background-color: #000000;
	color: #ffffff;
	font-size: 1.3em;
}

.grid-section-black[open] {
	border-color: #000000;
	padding-bottom: 0px;
	border-width: 3px;
	border-radius: 5px;
}

.grid-section-black {
	margin-top: 2em;
}

.grid-section-pink summary:focus, .grid-section-pink summary:hover {
	background-color: #e91e63;
	color: #ffffff;
}

.grid-section-pink[open] > summary, .grid-section-pink > summary {
	background-color: #e91e63;
	color: #ffffff;
	font-size: 1.3em;
}

.grid-section-pink[open] {
	border-color: #e91e63;
	padding-bottom: 0px;
	border-width: 3px;
	border-radius: 5px;
}

.grid-section-pink {
	margin-top: 2em;
}

.grid-section-light summary:focus, .grid-section-light summary:hover {
	background-color: var(--body-bg-gray);
	color: var(--black);
}


.grid-section-light[open] > summary, .grid-section-light > summary {
	background-color: var(--body-bg-gray);
	color: var(--black);
	font-size: 1.3em;
}

.grid-section-light[open] {
	border-color: var(--body-bg-gray);
	padding-bottom: 0px;
	border-width: 3px;
	border-radius: 5px;
}

.grid-section-light {
	margin-top: 2em;
}

.grid-section-padding-bottom-5[open] {
	padding-bottom: 20px;
}

.grid-section-red > summary, .grid-section > summary, .grid-section-yellow > summary, .grid-section-green > summary, .grid-section-black > summary, .grid-section-pink > summary, .grid-section-light > summary {
	margin-top: -1.1em;
}

.label-value {
	padding-left: 10px;
}


#menu-bar > button {
	margin-right: .5em;
}

.margin-top-2 {
	margin-top: 2em;
}



.status-bar {
	display: flow-root;
}
.status-font-size {
	font-size:16px;
}

.margin-botton-5 {
	margin-bottom: 5px;
}
.margin-top-5 {
	margin-top: 5px;
}

.text-red {
	color: firebrick;
}

.form-control-inline {
	min-width: 0;
	width: auto;
	display: inline;
}

.form-control-8-size {
	width: 8em;
}

.bs-stepper-top-icon-5 {
	top: 5px;
}

.bs-stepper-left-icon-2 {
	left: -2px;
}
